.list-group-item {
  font-size: 20px;
  margin: 40px 40px;
  color: black;
  
}
.list-group-item:focus {
  background-color: rgb(94, 168, 232);
  color: white;
}

.content {
  font-size: 30px;
  margin: 20px 30px;
}